<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Codding Challenge</title>
  <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

<!-- jQuery library -->

    <link rel="stylesheet" type="text/css" href="/css/style.css" />
  </head>
<header class='bg-info'>
<nav class=" navbar-expand-lg bg-graduate-2 b-shadow-1">
  <div class="collapse navbar-collapse " id="navbarTogglerDemo03">
    <div class="navbar-brand navbar-nav mr-auto mt-lg-0 text-white">
      Mihaela's Coding Challenge
    </div>
    <div class="navbar-nav navbar-right">
      <button id='help-btn' class='btn-primary btn m-2 d-none'>Help</button>
      <button id='log-out-btn' class='btn-primary btn m-2 d-none'>Log Out</button>
    </div>
  </div>
</nav>
</header>
    <body>
        {{{body}}}
   </body>
</html>