<script>
      const token = localStorage.getItem('token')
      if(token == null || token.length < 40){
        document.location.replace("/");
      }
</script>
<main class="container">
  <section class="m-2">
  <form>
    <div class="ml-5 mr-5 width-50 pt-5">
      <div class="form-group">
        <label for="age">Age</label>
        <input
          type="text"
          class="form-control"
          id="age"
          name="age"
          placeholder="ex: 25,34"
        />
        <span id="age_err" class="text-danger error"></span>
      </div>

      <div class="form-group">
        <label for="currency">Currency</label>
        <select class="form-control" id="currency" name="currency" required>
          <option value="USD">USD</option>
          <option value="EUR">EUR</option>
          <option value="GBP">GBP</option>
          <option value="JPY">JPY</option>
          <option value="CAD">CAD</option>
        </select>
      </div>

      <div class="form-group row text-center">
        <div class="col-6">
          <label for="start-date">Start Date</label> <br />
          <input type="date" id="start-date" name="start-date" required/>
          <span id="start-date-err"></span>
        </div>
        <div class="col-6">
          <label for="end-date">End Date</label><br/>
          <input type="date" data-value="7" id="end-date" name="end-date" required/>
          <span id="end-date-err"></span>
        </div>
      </form>
    </div>

    <div class="text-center">
      <button
        class="btn-primary btn p-2 trip-data-form"
        id="trip-data-form"
        type="submit"
      >Calculate</button>
    </div>
    </section>
    <section class='m-2'>
      <div class="text-center">
        <div id='final-quote'></div>
      </div>
    </section>
<div class="modal fade" id="quote-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Quote Result</h5>
      </div>
      <div class="modal-body" id="modal-body">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
</div>

</main>

<script src='./js/quote.js'></script>
